<%-include('./components/header.ejs')%>

<form class="py-3" action="/posts/images/add" method="post">
    
        <%for(let i = 0; i < qtd; i++){%>
            <div class="form-group">
                <label>URL da imagem</label>
                <input type="text" class="form-control" name="image<%=i%>" placeholder="Digite o número de imagens">
            </div>
        <%}%>
    
    <input type="hidden" name="post" value="<%=post%>" />
    <input type="hidden" name="qtd" value="<%=qtd%>" />
    <button class="btn btn-outline-primary m-1">Adicionar imagens</button>
</form>


<%-include('./components/footer.ejs')%>