<%- include('./components/header.ejs')%>

<div class="container">
    <%if(posts.length == 0){%>
        <h3>Nenhum Post adicionado!</h3>
    <%}else{%>
        <%for(let i = 0; i < posts.length; i++){%>
            <%if(i < 6){%>
                <hr class="border border-primary border-2 opacity-50">
                <h6><%=date[i]%></h6>
                <hr class="border border-primary border-2 opacity-50">
                <h3><%=posts[i].title%></h3>
                <h4><%=posts[i].description%></h4>
                <a class="btn btn-outline-primary m-2" href="/posts/update/<%=posts[i].id%>">Alterar</a>
                <a class="btn btn-outline-danger m-2" href="/posts/delete/<%=posts[i].id%>">Excluir</a>
                <a class="btn btn-outline-primary" href="/posts/images/<%=posts[i].id%>">Inserir Imagens no Post</a>
                <a class="btn btn-outline-primary" href="/posts/images/<%=posts[i].id%>">Alterar Imagens do Post</a>
            <%}%>
        <%}%>
    <%}%>
    <br/>
    <a class="btn btn-outline-success m-2" href="/posts/add-post">Adicionar um novo Post</a>
</div>
<p class="text-lg-right m-3">Sistema Desenvolvido por Adriano Alvarenga Pereira</p>

<%- include('./components/footer.ejs')%>